<!--
<h1>Trys#home</h1>
<p>Find me in app/views/trys/home.html.erb</p>
!-->

<h1>きっこの家計簿</h1> 
<h2>Home</h2>

<%= link_to "科目一覧",  :controller => 'subs', :action => 'index' %>

<%= link_to "科目登録",  :controller => 'subs', :action => 'new' %>

<%= link_to "収支一覧",  :controller => 'days', :action => 'index' %>

<%= link_to "収支登録",  :controller => 'days', :action => 'new' %>